<?xml version = "1.0" ?>
<robot name="agent1">
    
    <joint name ="lf_wheel_joint" type = "revolute">
        <parent link = "chassis"/>
        <child link = "lf_wheel"/>
        <origin xyz ="-.09779 -.09 -.01079" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocity = "0"/>
    </joint>

    <joint name ="rf_wheel_joint" type = "revolute">
        <parent link = "chassis"/>
        <child link = "rf_wheel"/>
        <origin xyz ="-.09779 .09 -.01079" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocity = "0"/>
    </joint>

    <joint name ="lb_wheel_joint" type = "revolute">
        <parent link = "chassis"/>
        <child link = "lb_wheel"/>    
        <origin xyz =".09779 -.09 -.01079" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocity = "0"/>
    </joint>

    <joint name ="rb_wheel_joint" type = "revolute">
        <parent link = "chassis"/>
        <child link = "rb_wheel"/>
        <origin xyz =".09779 .09 -.01079" rpy = "0 0 0"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "0" upper = "0" effort = "0" velocity = "0"/>
    </joint>

    <link name = "chassis">
        <inertial>
            <mass value = "0.68"/>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <inertia ixx = ".00140" ixy = "0" ixz = "0" iyy = ".00373" iyz = "0" izz = ".00495"/> 
            <!-- inertias are tricky: http://wiki.ros.org/urdf/Tutorials/Adding%20Physical%20and%20Collision%20Properties%20to%20a%20URDF%20Model#Joint_Dynamics -->
        </inertial>

        <collision name="collision">
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <geometry>
              <box size = ".254 .1524 .04"/>
            </geometry>
        </collision>

        <visual name="visual">
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <geometry>
              <box size = ".254 .1524 .04"/>
            </geometry>
        </visual>
    </link>

    <link name = "lb_wheel">
      
      <inertial>
        <mass value = ".045"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
        <inertia ixx = ".00007" ixy = "0" ixz = "0" iyy = ".00007" iyz = "0" izz = ".000018375"/>
      </inertial>

      <collision name = "collision">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
            <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </collision>

      <visual name = "visual">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
          <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </visual> 

    </link>

    <link name = "rb_wheel">
      
      <inertial>
        <mass value = ".045"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
        <inertia ixx = ".00007" ixy = "0" ixz = "0" iyy = ".00007" iyz = "0" izz = ".000018375"/>
      </inertial>
      
      <collision name = "collision">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
            <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </collision>
      
      <visual name = "visual">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
            <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </visual> 
    
    </link>

    <link name = "lf_wheel">
      
      <inertial>
        <mass value = ".045"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
        <inertia ixx = ".00007" ixy = "0" ixz = "0" iyy = ".00007" iyz = "0" izz = ".000018375"/>
      </inertial>

      <collision name = "collision">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
            <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </collision>

      <visual name = "visual">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
          <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </visual> 

    </link>
  
    <link name = "rf_wheel">
      
      <inertial>
        <mass value = ".045"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
        <inertia ixx = ".00007" ixy = "0" ixz = "0" iyy = ".00007" iyz = "0" izz = ".000018375"/>
      </inertial>

      <collision name = "collision">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
            <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </collision>

      <visual name = "visual">
        <origin xyz = "0 0 0" rpy = "-1.5707 0 0"/>
        <geometry>
          <cylinder radius = ".02921" length = ".0254"/>
        </geometry>
      </visual> 

    </link>

    <joint name = "imu joint" type = "fixed">
      <parent link = "chassis"/>
      <child link = "imu_link"/>
      <origin xyz = "-0.1 0 0.045"/>
    </joint>

    <link name =  "imu_link">
      <pose> -0.1 0 0.1 0 0 0</pose>
      <visual>
        <geometry>
          <box size = "0.01 0.01 0.01"/>
        </geometry>
      </visual>
      
      <collision>
        <geometry>
            <box size = "0.01 0.01 0.01"/>
        </geometry>
      </collision>
    
    </link>

    <joint name = "camera_joint" type = "fixed">
      <parent link = "chassis"/>
      <child link = "camera_link"/>
      <origin xyz = "-0.1 0.0 0.03" rpy = "1.5708 1.5708 1.5708"/>
      <axis xyz = "0 1 0"/>
      <limit lower = "0" upper = "0" effort = "0" velocity = "0"/>
    </joint>

    <link name =  "camera_link">
      
      <collision name = "camera_collision">
        <pose> -0.1 0.0 0.03 0 0 0</pose>
        <geometry> 
          <box size = "0.02 0.09 0.02" />
        </geometry> 
      </collision> 
      
      <visual name = "camera_visual">
       <pose> -0.1 0.0 0.03 0 0 0 </pose>
        <geometry>
         <box size = "0.02 0.09 0.02" />
        </geometry>
      </visual>
    </link>
    
        <joint name ="lidar_joint" type = "fixed">
      <parent link = "base_link"/>
      <child link = "lidar_link"/>
      <origin xyz = "0.0 0.0 0.0481" rpy = "0 0 0"/>
      <axis xyz = "0 1 0"/>
      <limit lower = "0.0" upper = "0.0" effort = "0.0" velocity = "0.0"/>
    </joint> 

    <link name = "lidar_link">

      <collision name = "lidar_collision">
        <pose> 0.0 0.0 0.0481 0 0 0 </pose>
        <geometry> 
          <box size = "0.0508 0.0508 0.0762"/>
        </geometry>
      </collision>

      <visual name = "lidar_visual">
       <pose> 0.0 0.0 0.0481 0 0 0 </pose>
        <geometry> 
         <box size = "0.0508 0.0508 0.0762"/> 
        </geometry> 
      </visual>
    </link>
      
    
      
</robot>
