<?xml version = "1.0"?>
<model> 
   <name>bounding_box</name> 
   <version>1.0</version> 
   <sdf version = "1.5">model.sdf</sdf>
   
   <author>
      <name>Marc</name>
      <email>mas1660@knights.ucf.edu</email> 
   </author>
   
   <description>
   	A model for the bounding area for the robotic swarm project.
   </description>
</model>