<?xml version = "1.0"?>
<model> 
   <name>agent2</name> 
   <version>1.0</version> 
   <sdf version = "1.5">model.sdf</sdf>
   
   <author>
      <name>HIVE</name>
      <email>mas1660@knights.ucf.edu</email> 
   </author>
   
   <description>
   	The model for one of the fleet agents.
   </description>
</model>
