<?xml version = "1.0"?>

<launch>

	<!-- Launch move_base -->
	<rosparam command= "load" file = "$(find agent_nav)/config/mapping/gmapping.yaml"/>
	<node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
		<remap from="scan" to="scan_filtered" />
		<param name="odom_frame" value="agent1/odom" />
		<param name="base_frame" value="agent1/base_link" />
		<param name="xmin" value="-8.0"/>
    	<param name="ymin" value="-8.0"/>
    	<param name="xmax" value="8.0"/>
    	<param name="ymax" value="8.0"/>
		<param name="delta" value="0.08"/>
		<param name="maxUrange" value="4.0"/>
		<param name="maxRange" value="3.5"/>
		<param name="map_update_interval" value="3"/>

	</node>

	<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
		<rosparam command="load" file="$(find agent_nav)/config/mapping/filter.yaml" />
		<remap from="scan" to="laserscan" />
	</node>

	<node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">
		<rosparam file = "$(find agent_nav)/config/costmap_params/costmap_common_params.yaml" command = "load" ns = "global_costmap" />
		<rosparam file = "$(find agent_nav)/config/costmap_params/costmap_common_params.yaml" command = "load" ns = "local_costmap"/>
		<rosparam file = "$(find agent_nav)/config/costmap_params/local_costmap_params.yaml" command = "load" />
		<rosparam file = "$(find agent_nav)/config/costmap_params/global_costmap_params.yaml" command = "load" />
		<rosparam file = "$(find agent_nav)/config/costmap_params/base_local_planner_params.yaml" command = "load" />
		<rosparam file = "$(find agent_nav)/config/costmap_params/global_planner_params.yaml" command="load"/>
		
	</node>
    	
</launch>
